<div class="flex-col justify-center w-full h-full p-4">
    <div class="grid grid-cols-2 gap-5">
      <app-form-eye-size
        [measure]="store.droite()"
        (measureChange)="store.updateRightEye($event)"
        [nomFormulaire]="store.isDuplicated() ? 'Biométrie Oeil Droit' : 'Biométrie Oeil Droit = Biométrie Oeil Gauche'">
      </app-form-eye-size>
      
      @if (store.isDuplicated()) {
      <app-form-eye-size 
        [measure]="store.gauche()"
        (measureChange)="store.updateLeftEye($event)"
        [nomFormulaire]="'Biométrie Oeil Gauche'">
      </app-form-eye-size>
      } @else {
      <button mat-stroked-button (click)="store.duplicateRightForm()"
        style="height: 100%; min-height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 12px; background-color: #ffffff; border: 2px dashed #ccc;">
        <img style="width: 48px; height: 48px; margin-bottom: 12px;" src="assets/additem.svg" alt="Duplicate the form">
        <span>Ajouter l'Oeil Gauche</span>
      </button>
      }
    </div>
    
    <div class="flex justify-center mb-5 mt-4" style="margin-top: 24px; text-align: center;">
      <button
        mat-raised-button
        color="primary"
        style="width: 260px; height: 48px; border-radius: 24px; font-size: 16px;"
        routerLink="/tears">
        Évaluer les critères
      </button>
    </div>    
</div>