<div class="bg-white rounded-xl p-4 border-black border-opacity-35 border border-opacity-35-accent drop-shadow-xl">
  <h2 class="text-xl text-wrap mb-16">{{ nomFormulaire }} 
    <div class="flex flex-row gap-5 ">
      <button class="bg-primary rounded-3xl h-6 px-3 text-xs leading-none flex items-center justify-center" (click)="fillTest1()">
        Demo 1
      </button>
      <button class="bg-accent rounded-3xl h-6 px-3 text-xs leading-none flex items-center justify-center" (click)="fillTest2()">
        Demo 2
      </button>
    </div>
  </h2>
  <form 
    (ngSubmit)="getFormData()"
    #eyeMeasureForm="ngForm"
    class="flex flex-col justify-around gap-2"
  >
    <!-- Sphere -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="sphere">Sphere</label>
      <input class="border border-[#000000] border-opacity-35  w-full rounded-lg p-2" placeholder="Type here..."
        type="number"
        step="0.25"
        id="sphere"
        name="sphere"
        [(ngModel)]="eyeMeasure.sphere"
        required
      />
    </div>

    <!-- Cylindre -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="cylindre">Cylindre</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2"
        type="number"
        step="0.25"
        id="cylindre"
        name="cylindre"
        [(ngModel)]="eyeMeasure.cylindre"
        required
      />
    </div>

    <!-- Axe (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="axe">Axe</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2" type="number" id="axe" name="axe" [(ngModel)]="eyeMeasure.axe" required />
    </div>

    <!-- Diamètre (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="dvo">DVO</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2"
        type="number"
        step="0.5"
        id="dvo"
        name="dvo"
        [(ngModel)]="eyeMeasure.dvo"
        required
      />
    </div>

    <!-- DHIV (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="dhiv">DHIV</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2" type="number" id="dhiv" name="dhiv" [(ngModel)]="eyeMeasure.dhiv" required/>
    </div>

    <!-- K1 (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="k1">K1</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2" type="number" step="0.01" id="k1" name="k1" [(ngModel)]="eyeMeasure.k1" required/>
    </div>

    <!-- X (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="x">Axe</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2" type="number" id="x" name="x" [(ngModel)]="eyeMeasure.x" required/>
    </div>

    <!-- K2 (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="k2">K2</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2" type="number" step="0.01" id="k2" name="k2" [(ngModel)]="eyeMeasure.k2" required/>
    </div>

    <!-- Y (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="y">Axe</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2" type="number" id="y" name="y" [(ngModel)]="eyeMeasure.y" required/>
    </div>

    <!-- Excentricité (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="excentricite">Excentricité</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-lg p-2"
        type="number"
        step="0.05"
        id="excentricite"
        name="excentricite"
        [(ngModel)]="eyeMeasure.excentricite"
        required
      />
    </div> 
  </form>
</div>
