<div class="bg-white rounded-xl p-4 border-black border-opacity-35 border border-opacity-35-accent drop-shadow-xl">
  <h2 class="text-xl text-wrap mb-16">{{ nomFormulaire }} 
    <div class="flex flex-row gap-5 ">
      <button class="bg-primary rounded-3xl h-6 px-3 text-xs leading-none flex items-center justify-center" (click)="fillTest1()">
        Demo 1
      </button>
      <button class="bg-accent rounded-3xl h-6 px-3 text-xs leading-none flex items-center justify-center" (click)="fillTest2()">
        Demo 2
      </button>
    </div>
  </h2>
  <form 
    #eyeMeasureForm="ngForm"
    class="flex flex-col justify-around gap-2"
  >
    <!-- Sphere -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="sphere">Sphere</label>
      <input class="border border-[#000000] border-opacity-35  w-full rounded-md p-2" placeholder="Type here..."
        type="number"
        step="0.25"
        id="sphere"
        name="sphere"
        [value]="(eyeMeasure$ | async)?.sphere ?? ''"
        (input)="onInputChange('sphere', $event)"
        required
      />
    </div>

    <!-- Cylindre -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="cylindre">Cylindre</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2"
        type="number"
        step="0.25"
        id="cylindre"
        name="cylindre"
        [value]="(eyeMeasure$ | async)?.cylindre ?? ''"
        (input)="onInputChange('cylindre', $event)"
        required
      />
    </div>

    <!-- Axe (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="axe">Axe</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2" type="number" id="axe" name="axe" [value]="(eyeMeasure$ | async)?.axe ?? ''"
        (input)="onInputChange('axe', $event)" required />
    </div>

    <!-- Diamètre (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="dvo">DVO</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2"
        type="number"
        step="0.5"
        id="dvo"
        name="dvo"
        [value]="(eyeMeasure$ | async)?.dvo ?? ''"
        (input)="onInputChange('dvo', $event)"
        required
      />
    </div>

    <!-- DHIV (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="dhiv">DHIV</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2" type="number" id="dhiv" name="dhiv" [value]="(eyeMeasure$ | async)?.dhiv ?? ''"
        (input)="onInputChange('dhiv', $event)" required/>
    </div>

    <!-- K1 (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="k1">K1</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2" type="number" step="0.01" id="k1" name="k1" [value]="(eyeMeasure$ | async)?.k1 ?? ''"
        (input)="onInputChange('k1', $event)" required/>
    </div>

    <!-- X (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="x">Axe X</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2" type="number" id="x" name="x" [value]="(eyeMeasure$ | async)?.x ?? ''"
        (input)="onInputChange('x', $event)" required/>
    </div>

    <!-- K2 (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="k2">K2</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2" type="number" step="0.01" id="k2" name="k2" [value]="(eyeMeasure$ | async)?.k2 ?? ''"
        (input)="onInputChange('k2', $event)" required/>
    </div>

    <!-- Y (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="y">Axe Y</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2" type="number" id="y" name="y" [value]="(eyeMeasure$ | async)?.y ?? ''"
        (input)="onInputChange('y', $event)" required/>
    </div>

    <!-- Excentricité (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="excentricite">Excentricité</label>
      <input class="border border-[#000000] border-opacity-35 w-full rounded-md p-2"
        type="number"
        step="0.05"
        id="excentricite"
        name="excentricite"
        [value]="(eyeMeasure$ | async)?.excentricite ?? ''"
        (input)="onInputChange('excentricite', $event)"
        required
      />
    </div> 
  </form>
</div>
