<div class="container">
    <div>
        <app-lateral-navbar></app-lateral-navbar>
    </div>
    <div class="page">
        <app-top-bar></app-top-bar>
        <div class="forms">
            <div class="container-form">
                <app-form-tears-eyes [nomFormulaire]="'Formulaire Oeil Droit'"></app-form-tears-eyes>
                <app-form-tears-eyes [nomFormulaire]="'Formulaire Oeil Gauche'"></app-form-tears-eyes>
            </div>
            <div class="commentaire-form">
                <h2>Commentaire</h2>
                <textarea name="" id=""></textarea>
            </div>
        </div>
        <div class="buttons">
            <button class="button button-retour" routerLink="/accueil">Retour</button>
            <button class="button" (click)="submitForms()" routerLink="/report-generation">Soumettre</button>
        </div>
    </div>
</div>