<div class="container">
    <div>
        <app-lateral-navbar></app-lateral-navbar>
    </div>
    <div class="page">
        <app-top-bar></app-top-bar>
        <div class="container-form">
            <app-form-tears-eyes></app-form-tears-eyes>
            <app-form-tears-eyes></app-form-tears-eyes>
        </div>
        <div class="buttons">
            <button class="button button-retour" routerLink="/accueil">Retour</button>
            <button class="button" routerLink="/report-generation">Soumettre</button>
        </div>
    </div>
</div>