<div class="container">
    <h2>Formulaire de connexion</h2>
    <form (ngSubmit)="login()" #eyeMeasureForm="ngForm" class="container-form">
      
      <div class="input-label-combo">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" [(ngModel)]="email" required>
      </div>
      
      <div class="input-label-combo">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
    </form>
</div>