.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    margin-bottom: 60px;
}

.input-label-combo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}


input {
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 6px;
    border: none;
    width: 100%;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
