.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-label-combo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
