<div class="container">
  <h2>{{ nomFormulaire }}</h2>
  <form
    (ngSubmit)="getFormData()"
    #eyesTearForm="ngForm"
    class="container-form"
  >
    <!-- PSC -->
    <div class="input-label-combo">
      <label for="psc">PSC</label>
      <select id="psc" name="psc" [(ngModel)]="eyesTear.psc" required>
        <option value="lent">Lent</option>
        <option value="standard"  >Standard</option>
        <option value="rapide">Rapide</option>
      </select>
    </div>

    <!-- Tonus -->
    <div class="input-label-combo">
      <label for="tonus">Tonus</label>
      <select id="tonus" name="tonus" [(ngModel)]="eyesTear.tonus" required>
        <option value="faible">Faible</option>
        <option value="standard"  >Standard</option>
        <option value="elevee">Elevé</option>
      </select>
    </div>

    <!-- Hauteur Prisme -->
    <div class="input-label-combo">
      <label for="hauteurPrisme">Hauteur Prisme</label>
      <select
        id="hauteurPrisme"
        name="hauteurPrisme"
        [(ngModel)]="eyesTear.hauteurPrisme"
        required
      >
        <option value="faible">0.2 &lt;</option>
        <option value="standard">0.2 &lt; X &lt; 0.4 </option>
        <option value="elevee">0.4 &lt;</option>
      </select>
    </div>

    <!-- Grade Lipide (optionnel) -->
    <div class="input-label-combo">
      <label for="gradeLipide">Grade Lipide</label>
      <select
        id="gradeLipide"
        name="gradeLipide"
        [(ngModel)]="eyesTear.gradeLipide"
      >
        <option value="faible">Faible</option>
        <option value="standard"  >Standard</option>
        <option value="elevee">Élevé</option>
      </select>
    </div>

    <!-- Charge Lacrimale (optionnel) -->
    <div class="input-label-combo">
      <label for="chargeLacrimale">Charge Lacrimale</label>
      <select
        id="chargeLacrimale"
        name="chargeLacrimale"
        [(ngModel)]="eyesTear.chargeLacrimale"
      >
        <option value="faible">Faible</option>
        <option value="standard"  >Standard</option>
        <option value="elevee">Élevée</option>
      </select>
    </div>
  </form>
</div>
