<div class="bg-white rounded-xl p-4 border border-tertiary drop-shadow-xl">
  <h2 class="text-xl text-wrap mb-16">{{ nomFormulaire }}</h2>
  <form
    (ngSubmit)="getFormData()"
    #eyesTearForm="ngForm"
    class="flex flex-col justify-around gap-2"
  >
    <!-- PSC -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="psc">PSC</label>
      <select class="border-secondary border w-full rounded-lg p-2" id="psc" name="psc" [(ngModel)]="eyesTear.psc" required>
        <option value="lent">Lent</option>
        <option value="standard"  >Standard</option>
        <option value="rapide">Rapide</option>
      </select>
    </div>

    <!-- Tonus -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="tonus">Tonus</label>
      <select class="border-secondary border w-full rounded-lg p-2" id="tonus" name="tonus" [(ngModel)]="eyesTear.tonus" required>
        <option value="faible">Faible</option>
        <option value="standard"  >Standard</option>
        <option value="elevee">Elevé</option>
      </select>
    </div>

    <!-- Hauteur Prisme -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="hauteurPrisme">Hauteur Prisme</label>
      <input
        class="border-secondary border w-full rounded-lg p-2"
        type="number"
        step="0.1"
        id="hauteurPrisme"
        name="hauteurPrisme"
        [(ngModel)]="eyesTear.hauteurPrisme"
        required
      >
    </div>

    <!-- Grade Lipide (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="gradeLipide">Grade Lipide</label>
      <select
        class="border-secondary border w-full rounded-lg p-2"
        id="gradeLipide"
        name="gradeLipide"
        [(ngModel)]="eyesTear.gradeLipide"
      >
        <option value="faible">Faible</option>
        <option value="standard"  >Standard</option>
        <option value="elevee">Élevé</option>
      </select>
    </div>

    <!-- Charge Lacrimale (optionnel) -->
    <div class="grid grid-cols-[1fr_4fr] items-center gap-5">
      <label for="chargeLacrimale">Charge Lacrimale</label>
      <select
        class="border-secondary border w-full rounded-lg p-2"
        id="chargeLacrimale"
        name="chargeLacrimale"
        [(ngModel)]="eyesTear.chargeLacrimale"
      >
        <option value="faible">Faible</option>
        <option value="standard">Standard</option>
        <option value="elevee">Élevée</option>
      </select>
    </div>
  </form>
</div>
