<div class="container">
    <div class="connexion-container">
        <img src="assets/logo.png" alt="">
        <div class="container-hey">
            <div class="container_form">
                <app-connexion-form></app-connexion-form>
            </div>
            <div class="buttons">
                <button class="button button-retour" routerLink="/accueil">Inscription</button>
                <button class="button" routerLink="/accueil">Connexion</button>
            </div>
        </div>
    </div>
</div>