@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #335C67;
    --secondary-color: #EAEAEA;
    --green-color: #32DE8A;
    --red-color: #995D81;
    --font-stack: 'Inter', sans-serif;
    --spacing-unit: 16px;
}

.active {
  @apply bg-hey rounded-lg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-stack);
    white-space: nowrap;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    line-height: 1;
  }
  
  ul, ol {
    list-style: none;
  }
  
  img, picture, video, canvas {
    display: block;
    max-width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  

  
  button, a {
    color: white;
  }

  button {
    cursor: pointer;
  }
  
  
  
