<div class="sidebar-container">
    <div class="sidebar">
        <div class="logo">
            <img src="assets/logo.png" alt="logo">
        </div>
        
        <div class="nav-links">
            <nav>
                <ul>
                    <li><a href="#" routerLink="/accueil"><img src="assets/home-2.svg" alt="accueil">Accueil</a></li>
                    <li><a href="#"><img src="assets/calculator.svg" alt="outils">Outils</a></li>
                    <li><a routerLink="/connexion"><img src="assets/setting-2.svg" alt="parametres">Paramètres</a></li>
                </ul>
            </nav>
        </div>

        <div class="logout">
            <a (click)="deco()" class="cursor-pointer"><img src="assets/home-2.svg" alt="home">Déconnexion</a>
        </div>
    </div>
</div>