<div class="sidebar-container">
    <div class="sidebar">
        <div class="logo">
            <img src="assets/logo.png" alt="logo">
        </div>
        
        <div class="nav-links">
            <nav>
                <ul>
                    <li class="lii"><a href="#"><img src="assets/home-2.svg" alt="home">Accueil</a></li>
                    <li class="lii"><a href="#"><img src="assets/home-2.svg" alt="home">Outils</a></li>
                    <li><a href="#"><img src="assets/home-2.svg" alt="home">Paramètres</a></li>
                </ul>
            </nav>
        </div>

        <div class="logout">
            <a href="#"><img src="assets/home-2.svg" alt="home">Déconnexion</a>
        </div>
    </div>
</div>