<div class="sidebar bg-primary text-white flex flex-col p-5"
    [class.sidebar--extended]="isExtended"
    [class.sidebar--collapsed]="!isExtended">

    <!-- Logo -->
    <div class="mb-10 mt-2 flex justify-center">
        @if(isExtended) {
            <img src="assets/optalyx_blanc.png" alt="logo" class="w-24">
        } @else {
            <img src="assets/optalyx_oeil_blanc.png" alt="logo" class="w-6">
        }
    </div>

    <!-- Navigation -->
    <nav class="flex flex-col gap-6 text-white w-full"
        [class.items-center]="!isExtended">
        <a routerLink="/accueil" routerLinkActive="active"
            class="nav-link flex items-center gap-5 p-3">
            <img src="assets/home-2.svg" alt="accueil" class="w-6">
            @if(isExtended) {
                <span>Accueil</span>
            }
        </a>
        <a routerLink="/tools" routerLinkActive="active"
            class="nav-link flex items-center gap-5 p-3">
            <img src="assets/calculator.svg" alt="outils" class="w-6">
            @if(isExtended) {
                <span>Outils</span>
            }
        </a>
        <button (click)="deco()" class="nav-link flex items-center gap-5 p-3 cursor-pointer">
            <img src="assets/logout.svg" alt="déconnexion" class="w-6">
            @if(isExtended) {
                <span>Déconnexion</span>
            }
        </button>
    </nav>
</div>
